
func encodeAndSend(v any, method, endpoint string) (*http.Response, error) {
	var buf bytes.Buffer
	err := json.NewEncoder(&buf).Encode(v)
	if err != nil {
		log.Fatal(err)
	}

	req, err := http.NewRequest(method, fmt.Sprintf("{{.URL}}%s", endpoint), &buf)
	if err != nil {
		log.Fatalf("Failed creating request with data: %+v", buf)
	}
	req.Header.Set("Content-Type", "application/json")

	client := &http.Client{}
	return client.Do(req)
}

{{range $path, $item := .Paths}}
{{range $method, $op := $item.Operations}}
// {{ $op }} : {{ $method }} : {{ $path }} : {{ $item }}
{{end}}
{{end}}