package main

{{range .}}type {{.Name}} struct {
    {{range .Properties}}{{.Name}} {{.Type}}
    {{end}}
}

{{end}}

// GetStructZeroValueByName returns a zero-value struct for the given name. For example, "pet" returns an empty Pet{} object.
func GetStructZeroValueByName(name string) interface{} {
    switch strings.ToLower(name) {
    {{range .}}case "{{ .Name | ToLower }}":
        return {{.Name}}{}
    {{end}}
    }
    return nil
}